PORT=5001
MONGO_URI=mongodb://localhost:27017/callify
JWT_SECRET=your_jwt_secret
STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret
REDIS_URL=redis://localhost:6379
NODE_ENV=development
